In [1]:
import pandas as pd, numpy as np
d={'Animals':['Cat','Cat','Dog','Dog','Rat'],'Rank':['a','b','a','a','b'],'N':[11,2,3,4,5],'Rate':[10,12,8,9,3]}
dff=pd.DataFrame(d)
dff

  Animals Rank   N  Rate
0     Cat    a  11    10
1     Cat    b   2    12
2     Dog    a   3     8
3     Dog    a   4     9
4     Rat    b   5     3

In [2]:
g3=dff["Rate"].groupby(dff['Animals'])
list(g3)

[('Cat',
  0    10
  1    12
  Name: Rate, dtype: int64),
 ('Dog',
  2    8
  3    9
  Name: Rate, dtype: int64),
 ('Rat',
  4    3
  Name: Rate, dtype: int64)]

In [3]:
g4=dff["Rate"].groupby([dff['Animals'],dff['Rank']])
list(g4)

[(('Cat', 'a'),
  0    10
  Name: Rate, dtype: int64),
 (('Cat', 'b'),
  1    12
  Name: Rate, dtype: int64),
 (('Dog', 'a'),
  2    8
  3    9
  Name: Rate, dtype: int64),
 (('Rat', 'b'),
  4    3
  Name: Rate, dtype: int64)]

In [6]:
#dff["N"].groupby([dff['Animals'],dff['Rank']]).mean()
#another way to get particular rows aggregate funtions
dff.groupby([dff['Animals'],dff['Rank']])["N"].mean()

Animals  Rank
Cat      a       11.0
         b        2.0
Dog      a        3.5
Rat      b        5.0
Name: N, dtype: float64

In [7]:
import math

In [8]:
np.log2(10)

3.321928094887362

In [30]:
a = dff.groupby('Animals')

In [31]:
list(a)

[('Cat',
    Animals Rank   N  Rate
  0     Cat    a  11    10
  1     Cat    b   2    12),
 ('Dog',
    Animals Rank  N  Rate
  2     Dog    a  3     8
  3     Dog    a  4     9),
 ('Rat',
    Animals Rank  N  Rate
  4     Rat    b  5     3)]

In [32]:
a.apply(lambda y: np.log2(y['Rate']))

Animals
Cat      0    3.321928
         1    3.584963
Dog      2    3.000000
         3    3.169925
Rat      4    1.584963
Name: Rate, dtype: float64

In [33]:
df = pd.DataFrame({'cat': ['A', 'A', 'A', 'B', 'B', 'B', 'B'],
                   'pf': [18, 22, 19, 14, 11, 20, 28],
                   'pt': [14, 21, 19, 14, 12, 20, 21]})
df

  cat  pf  pt
0   A  18  14
1   A  22  21
2   A  19  19
3   B  14  14
4   B  11  12
5   B  20  20
6   B  28  21

####  Here it is groupby by cat,lambda will get two groups(A and B),from that we have to give max value by individual group

In [35]:

df.groupby("cat").apply(lambda x:np.max(x['pf']))

cat
A    22
B    28
dtype: int64

In [36]:
df.groupby("cat").apply(lambda x:(x['pf'].max()))

cat
A    22
B    28
dtype: int64

In [37]:
df.groupby("cat").apply(lambda x:(x.pf.max()))

cat
A    22
B    28
dtype: int64